<html lang="en">
<body>
<h1>This is a test email</h1>
<p>Hello ${name}.
<p>${message}.</p>
<p>If you wish to see more examples like this checkout here <a href="${link}">
    my github repository</a>
</p>
<p>Cheers</p>
</body>
</html>